<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-08-30T13:42:20Z</date>
	<key>WorkspacePath</key>
	<string>/Users/mohamedsaied/flutter_projects/bulbul_stream/football_commentary_app/macos/Runner.xcworkspace</string>
</dict>
</plist>
